 
 %quicksand-400 {
    font-family: 'Quicksand-Regular', sans-serif;
    font-weight: 400;
} 
 
%quicksand-500 {
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
} 
 
 
%quicksand-700 {
    font-family: 'Quicksand-Bold', sans-serif;
    font-weight: 700;
}